---
import type { GetStaticPaths } from 'astro'
import Base from 'src/layouts/Base.astro'
import { languages } from 'src/lib/i18n/ui.ts'
import { useTranslations } from 'src/lib/i18n/utils.ts'

export const getStaticPaths = (() => {
	return Object.keys(languages).map((lang) => ({
		params: {
			lang
		}
	}))
}) satisfies GetStaticPaths

const params = Astro.params
const lang = params.lang as keyof typeof languages
const t = useTranslations(lang)
---
<Base>
	<h1>OdyC, jouez à créer vos jeux.</h1>
	<p>Une petite librairie javascript qui permet de coder des jeux-vidéo, même sans expérience en programmation.</p>
</Base>