---
import "remark-gh-alerts/styles/github-colors-light.css";
import "remark-gh-alerts/styles/github-base.css";
import { getLangFromUrl } from "../lib/i18n/utils.ts";
import Header from "../components/Header.astro";

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-gray-50 color-gray-900">
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  :root {
  }
  .markdown-alert > *::before,
  .markdown-alert > *::after {
    content: none;
  }
  .markdown-alert {
    font-weight: normal;
  }
</style>
